/*******************LOGIN FORM*************************/
.form_page {
    background-color: #525252;
    font-family: 'Roboto', sans-serif;
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.login_form .glyphicon {
    top: 0;
}

.login_form {
    font-size: 14px;
}
.login_options {
    margin: 15px 0;
}

.login_form .form-group {
    margin-top: 10px;
}
/*******************NEW GROUP MODAL*********************/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.group-img {
    width: 14px;
}

.input-group {
    margin-top: 5px;
}

/*******************PAGE TEMPLATE - NAVBAR, LEFT/RIGHT SIDEBAR, FOOTER*************************/

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.row.content {height: 450px}

/*LEFT SIDEBAR*/
.list-group-sidebar, .sidenav {
    background: white;
    height: 530px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 10px gray;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
    text-align: left;
}

.list-group-sidebar h3 {
    background: #525252;
    color: white;
    padding: 10px;
    border-radius: inherit;
}

.list-group-sidebar ul a {
    color: inherit;
}

.add-group-btn {
    position: absolute;
    bottom: 0;
    right: 35%;
    color: #777;
}
.add-group-btn:hover {
    cursor: pointer;
}
.sidenav {
    margin-top: 20px;
}

/*NAVBAR*/
.navbar-header {
    padding: 10px 0;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.username-btn {
    background: inherit;
    border: none;
    box-shadow: none;
}

.username-btn:hover {
    background: none !important;
}
